.access-granted-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.access-granted-container a {
    text-decoration: none;
    color:whitesmoke;
    margin-top: 10px;
}

img {
    border-radius: 100%;
}